/* --- SKY GRADIENTS --- */
.sky {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

/* manhã */
.morning {
  background: linear-gradient(#74b9ff, #a6dcef);
}

/* tarde */
.afternoon {
  background: linear-gradient(#0984e3, #74b9ff);
}

/* noite */
.night {
  background: linear-gradient(#2d3436, #000000);
}

/* --- SOL --- */
.sun {
  position: absolute;
  top: 20%;
  width: 120px;
  height: 120px;
  background: radial-gradient(circle, #ffeaa7, #fdcb6e);
  border-radius: 50%;
  transition: left 1s ease-in-out;
  filter: blur(1px);
}

/* --- Lua --- */
.moon {
  position: absolute;
  top: 30%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(circle, #ffffff 40%, #dddddd 60%, #cccccc 100%);
  box-shadow: 0 0 20px #ffffff;
  transition: left 1s ease-in-out;
  filter: blur(0.5px);
}

/* --- CLOUDS --- */
.cloud {
  position: absolute;
  top: 20%;
  width: 250px;
  height: 80px;
  background: #ffffffcc;
  border-radius: 50px;
  filter: blur(1px);
  animation: moveCloud 40s linear infinite;
}

.cloud:before,
.cloud:after {
  content: "";
  position: absolute;
  background: #ffffffcc;
  width: 150px;
  height: 70px;
  border-radius: 50px;
  top: -30px;
  left: 30px;
}

.cloud:after {
  width: 120px;
  height: 60px;
  top: 10px;
  left: 120px;
}

/* diferentes posições e velocidades */
.cloud1 {
  top: 30%;
  animation-duration: 50s;
}

.cloud2 {
  top: 50%;
  animation-duration: 70s;
}

.cloud3 {
  top: 65%;
  animation-duration: 90s;
}

/* ANIMAÇÃO DAS NUVENS */
@keyframes moveCloud {
  0% {
    left: -300px;
  }

  100% {
    left: 110%;
  }
}